
   <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/500x300" alt="">
            <div class="caption" style="font-family:lucida sans; min-height:225px;">
                <div>
                    <h5 style="min-height:35px">
                        {{movie.movie_title}}
                    </h5>
                    <h5 style="color:grey">
                        {{movie.title_year?movie.title_year: "NA"}}
                    </h5>                    
               </div>
               <hr />
              <div class="language">{{movie.language? movie.language:"NA"}} ( {{movie.country?  movie.country: "NA"}} )</div>
              <div class="genres">{{movie.genres}}</div>
              <br/>
              <div>  
                  <a class="btn btn-info btn-xs" role="button" (click)="getMovieDetails(movie)">view details</a> 
              </div>              
                  
          </div>
        </div>
      </div>
  